In [1]:
from merge_data import merge_data

In [4]:
df = merge_data()

In [5]:
df.head()

     Country  Year    HDI  Population  capacity_mw
0    Algeria  1990  0.577  25758869.0         0.00
1  Argentina  1990  0.704  32618651.0       761.02
2    Armenia  1990  0.631   3538171.0         0.00
3    Austria  1990  0.795   7677850.0        13.00
4    Bahrain  1990  0.746    495931.0         0.00