In [3]:

# Downloads data from sites for power, HDI and population, merges, cleans
# and returns pandas dataframe for analysis



import numpy as np
import pandas as pd
import os

#import, clean and format HI data
hdi_file = 'data/Human Development Index (HDI).csv'
hdi_df = pd.read_csv(hdi_file, encoding = "ISO-8859-1", skiprows=1)
columns = ["Country"]

for i in range(1990, 2018):
    columns = columns + [str(i)]

hdi_df = hdi_df[columns]
hdi_df = hdi_df.melt(id_vars='Country', var_name='Year', value_name="HDI")
hdi_df = hdi_df.dropna()
hdi_df['Country'] = hdi_df['Country'].str.strip()


#import and clean the power data
power_file = 'data/global_power_plant_database.csv'
power_df = pd.read_csv(power_file)
power_df['commissioning_year'] = round(power_df['commissioning_year'],0)
power_df = power_df[power_df['commissioning_year']>=1990]

#importing, cleaning, and formatting the population data
pop_file = ('data/API_SP.POP.TOTL_DS2_en_csv_v2_103676.csv')
pop_df = pd.read_csv(pop_file, encoding = "ISO-8859-1", skiprows=4)
pop_df = pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
pop_df = pop_df.melt(id_vars='Country Name', var_name='Year', value_name='Population')
pop_df = pop_df.rename(columns={'Country Name':'Country'})

#rename countries in hdi_df so consistent in all three datasets for clean merge
hdi_df['Country'] = hdi_df['Country'].replace({"Bolivia (Plurinational State of)":"Bolivia",
                                          "Congo":"Congo (Rep)",
                                          "Congo (Democratic Republic of the)":"Congo (Dem Rep)",
                                          "Czechia":"Czech Republic",
                                          "Côte d'Ivoire":"Cote d'Ivoire",
                                          "Eswatini (Kingdom of)":"Swaziland",
                                          "Hong Kong, China (SAR)":"Hong Kong",
                                          "Iran (Islamic Republic of)":"Iran",
                                          "Korea (Rep)":"South Korea",
                                          "Lao People's Democratic Republic":"Laos",
                                          "Micronesia (Federated States of)":"Micronesia (Fed States)",
                                          "Moldova (Republic of)":"Moldova",
                                           "Russian Federation":"Russia",
                                          "Saint Lucia":"St. Lucia",
                                          "Tanzania (United Republic of)":"Tanzania",
                                          "The former Yugoslav Republic of Macedonia":"North Macedonia",
                                          "Venezuela (Bolivarian Republic of)":"Venezuela",
                                          "Viet Nam":"Vietnam"})

#rename countries in power_df  so consistent in all three datasets for clean merge
power_df['country_long'] = power_df['country_long'].replace({"Cape Verde":"Cabo Verde", 
                                                         "Congo":"Congo (Rep)",
                                                         "Cote DIvoire":"Cote d'Ivoire",
                                                         "Democratic Republic of the Congo":"Congo (Dem Rep)",
                                                         "Macedonia":"North Macedonia",
                                                         "United States of America":"United States"})

#rename countries in pop_df so consistent in all three datasets for clean merge
pop_df['Country'] = pop_df['Country'].replace({"Congo, Dem. Rep.":"Congo (Dem Rep)", 
                                           "Congo, Rep.":"Congo (Rep)",
                                          "Egypt, Arab Rep.":"Egypt",
                                          "Micronesia, Fed. Sts.":"Micronesia (Fed States)",
                                           "Gambia, The":"Gambia",
                                           "Hong Kong SAR, China":"Hong Kong",
                                           "Iran, Islamic Rep.":"Iran",
                                           "Korea, Rep.":"South Korea",
                                           "Lao PDR":"Laos",
                                           "Korea, Dem. People’s Rep.":"North Korea",
                                           "Russian Federation":"Russia",
                                           "Slovak Republic":"Slovakia",
                                           "Venezuela, RB":"Venezuela",
                                           "Yemen, Rep.":"Yemen"
                                          })

#import, clean and format BP consumption data
consumption_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', sheet_name='Primary Energy Consumption',skiprows=2)
consumption_import["Region"] = ""

consumption_import = consumption_import.rename(columns={"Million tonnes oil equivalent":"Country"})
consumption_import.loc[consumption_import["Country"].isin
                   (["Canada","Mexico","US"]),"Region"]="North America"

consumption_import.loc[consumption_import["Country"].isin
                   (["Argentina","Brazil","Chile","Colombia","Ecuador","Peru","Trinidad & Tobago",
                     "Venezuela","Central America","Other Caribbean","Other South America"]),
                   "Region"]="South/Central America"

consumption_import.loc[consumption_import["Country"].isin
                   (["Austria","Belgium","Bulgaria","Croatia","Cyprus","Czech Republic","Denmark",
                     "Estonia","Finland","France","Germany","Greece","Hungary","Iceland","Ireland","Italy",
                     "Latvia","Lithuania","Luxembourg","Netherlands","North Macedonia","Norway","Poland",
                     "Portugal","Romania","Slovakia","Slovenia","Spain","Sweden","Switzerland","Turkey",
                     "Ukraine","United Kingdom","Other Europe"]),"Region"]="Europe"

consumption_import.loc[consumption_import["Country"].isin
                   (["Azerbaijan","Belarus","Kazakhstan","Russian Federation",
                     "Turkmenistan","USSR","Uzbekistan","Other CIS"]),"Region"]="CIS"

consumption_import.loc[consumption_import["Country"].isin
                   (["Iran","Iraq","Israel","Kuwait","Oman","Qatar","Saudi Arabia","United Arab Emirates",
                     "Other Middle East"]),"Region"]="Middle East"

consumption_import.loc[consumption_import["Country"].isin
                   (["Algeria","Egypt","Morocco","South Africa","Eastern Africa","Middle Africa",
                     "Western Africa","Other Northern Africa","Other Southern Africa"]),"Region"]="Africa"

consumption_import.loc[consumption_import["Country"].isin
                    (["Australia","Bangladesh","China","China Hong Kong SAR","India","Indonesia",
                      "Japan","Malaysia","New Zealand","Pakistan","Philippines","Singapore",
                      "South Korea","Sri Lanka","Taiwan","Thailand","Vietnam","Other Asia Pacific"]),
                   "Region"]="Asia Pacific"

consumption_import = consumption_import.drop(['2018.1', '2007-17', '2018.2','Unnamed: 58','Unnamed: 59'], axis=1)
consumption = consumption_import[consumption_import["Country"].notnull()].sort_values("Country")
consumption = consumption[consumption.Region != ""]
Region = consumption.Region
consumption.drop(labels=["Region"],axis=1,inplace=True)
consumption.insert(1,"Region",Region)
#consumption.head()

#import and format BP Consumption by Fuel Type data (row cleanup accomplished through merge in next cell)
consump_by_fuel_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', 
                                        sheet_name='Primary Energy - Cons by fuel',skiprows=2)
consump_by_fuel_import
consump_by_fuel = consump_by_fuel_import.rename(columns={"Million tonnes oil equivalent":"Country","Oil":"2017 Oil",
                                               "Natural Gas":"2017 Nat Gas","Coal":"2017 Coal",
                                               "Nuclear energy":"2017 Nuclear","Hydro electric":"2017 Hydro",
                                               "Renew- ables":"2017 Renewables",
                                               "Oil.1":"2018 Oil","Natural Gas.1":"2018 Nat Gas","Coal.1":"2018 Coal",
                                               "Nuclear energy.1":"2018 Nuclear","Hydro electric.1":"2018 Hydro",
                                               "Renew- ables.1":"2018 Renewables",
                                               "Change Oil":"% Change Oil",
                                               "Change Natural Gas":"% Change Nat Gas",
                                               "Change Coal":"% Change Coal",
                                               "Change Nuclear energy":"% Change Nuclear",
                                               "Change Hydro electric":"% Change Hydro",
                                               "Change Renew- ables":"% Change Renewables"})
consump_by_fuel = consump_by_fuel.drop(['Unnamed: 15','Total','Total.1'], axis=1)
#consump_by_fuel.head()

#merge consumption df with consump_by_fuel (left merge to finish cleanup of consump_by_fuel)
tt = consump_by_fuel.melt(id_vars=['Country'], var_name='Year', value_name='energy')
vals = tt['Year'].str.split(" ", n = 1, expand = True)
tt['Year']=vals[0]
tt['Fuel']=vals[1]
ts=consumption.melt(id_vars=['Country','Region'], var_name='Year',value_name='total_gen')
ts=ts.astype({'Year':'str'})
all_consump_data=pd.merge(tt,ts,on=['Country','Year'])
all_consump_data['energy']=11.96*all_consump_data['energy']
all_consump_data['total_gen']=11.96*all_consump_data['total_gen']

#filter power df and create df for cumulative capacity
pow_pd = power_df[['country_long', 'capacity_mw', 'commissioning_year' ]]
pow_pd.head(20)
country_list = pow_pd['country_long'].unique()

cap_data = pd.DataFrame(columns = ['country_long', 'commissioning_year'])

for i in range(len(country_list)):
    for year in range(1990, 2018):
        cap_data.loc[i*37 + year-1990] = [country_list[i], year]    

# Aggregate capacity when same country and year
countries = pow_pd.groupby(['country_long', 'commissioning_year'])
cap_added = countries['capacity_mw'].sum()

# merge data agreggate capacity with counrty year df
cap_cont_yr = pd.merge(cap_data, cap_added, on=['country_long', 'commissioning_year'], how='left')
cap_cont_yr = cap_cont_yr.fillna(0)

# create cumulative cap by country and year
cap_cont_yr['commissioning_year'] = cap_cont_yr['commissioning_year'].astype(str)
cap_cum = cap_cont_yr.groupby(by=['country_long', 'commissioning_year']).sum().groupby(level=[0]).cumsum()

# merge hdi, pop, and capacity by Country and Year
hdi_pop_merged = pd.merge(hdi_df, pop_df, on=['Country', 'Year'])
merged_data = pd.merge(hdi_pop_merged, cap_cum, left_on=['Country', 'Year'], right_on=['country_long', 'commissioning_year'])

In [35]:
tt = consump_by_fuel.melt(id_vars=['Country'], var_name='Year', value_name='energy')
vals = tt['Year'].str.split(" ", n = 1, expand = True)
tt['Year']=vals[0]
tt['Fuel']=vals[1]
ts=consumption.melt(id_vars=['Country','Region'], var_name='Year',value_name='total_gen')
ts=ts.astype({'Year':'str'})
tm=pd.merge(tt,ts,on=['Country','Year'])

In [4]:
all_consump_data.head()

  Country  Year       energy     Fuel         Region    total_gen
0  Canada  2017  1301.209164      Oil  North America  4110.613003
1  Canada  2017  1128.124686  Nat Gas  North America  4110.613003
2  Canada  2017   222.626321     Coal  North America  4110.613003
3  Canada  2017   271.731814  Nuclear  North America  4110.613003
4  Canada  2017  1073.034366    Hydro  North America  4110.613003

In [29]:
ts=consumption.melt(id_vars=['Country','Region'], var_name='Year',value_name='total_gen')
ts=ts.astype({'Year':'str'})
tm=pd.merge(tt,ts,on=['Country','Year'])

In [32]:
tm=pd.merge(tt,ts,on=['Country','Year'])

In [33]:
merged_data=pd.merge(merged_data,tm)

In [34]:
merged_data

,Country,Year,HDI,Population,capacity_mw,energy,Fuel,Region,total_gen
0,Algeria,2017,0.754,41389198.0,8713.00,19.379992,Oil,Africa,53.128087
1,Algeria,2017,0.754,41389198.0,8713.00,33.435082,Nat Gas,Africa,53.128087
2,Algeria,2017,0.754,41389198.0,8713.00,0.182000,Coal,Africa,53.128087
3,Algeria,2017,0.754,41389198.0,8713.00,0.000000,Nuclear,Africa,53.128087
4,Algeria,2017,0.754,41389198.0,8713.00,0.012671,Hydro,Africa,53.128087
5,Algeria,2017,0.754,41389198.0,8713.00,0.118342,Renewables,Africa,53.128087
6,Argentina,2017,0.825,44044811.0,14410.53,32.036983,Oil,South/Central America,86.103674
7,Argentina,2017,0.825,44044811.0,14410.53,41.530549,Nat Gas,South/Central America,86.103674
8,Argentina,2017,0.825,44044811.0,14410.53,1.076981,Coal,South/Central America,86.103674
9,Argentina,2017,0.825,44044811.0,14410.53,1.377563,Nuclear,South/Central America,86.103674
10,Argentina,2017,0.825,44044811.0,14410.53,9.400140,Hydro,South/Central America,86.103674
11,Argentina,2017,0.825,44044811.0,14410.53,0.681459,Renewables,South/Central America,86.103674
12,Austria,2017,0.908,8797566.0,3690.00,13.100261,Oil,Europe,35.523087
13,Austria,2017,0.908,8797566.0,3690.00,7.798671,Nat Gas,Europe,35.523087
14,Austria,2017,0.908,8797566.0,3690.00,3.117112,Coal,Europe,35.523087
15,Austria,2017,0.908,8797566.0,3690.00,0.000000,Nuclear,Europe,35.523087
16,Austria,2017,0.908,8797566.0,3690.00,8.682135,Hydro,Europe,35.523087
17,Austria,2017,0.908,8797566.0,3690.00,2.824909,Renewables,Europe,35.523087
18,Azerbaijan,2017,0.757,9854033.0,2541.00,4.748247,Oil,CIS,14.305965
19,Azerbaijan,2017,0.757,9854033.0,2541.00,9.128637,Nat Gas,CIS,14.305965
20,Azerbaijan,2017,0.757,9854033.0,2541.00,0.001229,Coal,CIS,14.305965
21,Azerbaijan,2017,0.757,9854033.0,2541.00,0.000000,Nuclear,CIS,14.305965
22,Azerbaijan,2017,0.757,9854033.0,2541.00,0.395167,Hydro,CIS,14.305965
23,Azerbaijan,2017,0.757,9854033.0,2541.00,0.032685,Renewables,CIS,14.305965
24,Bangladesh,2017,0.608,159670593.0,3113.00,7.852091,Oil,Asia Pacific,32.972499
25,Bangladesh,2017,0.608,159670593.0,3113.00,22.921827,Nat Gas,Asia Pacific,32.972499
26,Bangladesh,2017,0.608,159670593.0,3113.00,1.902696,Coal,Asia Pacific,32.972499
27,Bangladesh,2017,0.608,159670593.0,3113.00,0.000000,Nuclear,Asia Pacific,32.972499
28,Bangladesh,2017,0.608,159670593.0,3113.00,0.232957,Hydro,Asia Pacific,32.972499
29,Bangladesh,2017,0.608,159670593.0,3113.00,0.062930,Renewables,Asia Pacific,32.972499
...,...,...,...,...,...,...,...,...,...
258,Turkey,2017,0.791,81101892.0,3987.50,49.164306,Oil,Europe,152.709649
259,Turkey,2017,0.791,81101892.0,3987.50,44.340565,Nat Gas,Europe,152.709649
260,Turkey,2017,0.791,81101892.0,3987.50,39.459314,Coal,Europe,152.709649
261,Turkey,2017,0.791,81101892.0,3987.50,0.000000,Nuclear,Europe,152.709649
262,Turkey,2017,0.791,81101892.0,3987.50,13.173395,Hydro,Europe,152.709649
263,Turkey,2017,0.791,81101892.0,3987.50,6.572069,Renewables,Europe,152.709649
264,United Arab Emirates,2017,0.863,9487203.0,26593.00,43.827665,Oil,Middle East,108.955095
265,United Arab Emirates,2017,0.863,9487203.0,26593.00,64.002843,Nat Gas,Middle East,108.955095
266,United Arab Emirates,2017,0.863,9487203.0,26593.00,1.002601,Coal,Middle East,108.955095
267,United Arab Emirates,2017,0.863,9487203.0,26593.00,0.000000,Nuclear,Middle East,108.955095
268,United Arab Emirates,2017,0.863,9487203.0,26593.00,0.000000,Hydro,Middle East,108.955095
269,United Arab Emirates,2017,0.863,9487203.0,26593.00,0.121986,Renewables,Middle East,108.955095
270,Uzbekistan,2017,0.710,32388600.0,3030.00,2.749002,Oil,CIS,45.013231
271,Uzbekistan,2017,0.710,32388600.0,3030.00,37.059703,Nat Gas,CIS,45.013231
272,Uzbekistan,2017,0.710,32388600.0,3030.00,3.471996,Coal,CIS,45.013231
273,Uzbekistan,2017,0.710,32388600.0,3030.00,0.000000,Nuclear,CIS,45.013231
274,Uzbekistan,2017,0.710,32388600.0,3030.00,1.732530,Hydro,CIS,45.013231
275,Uzbekistan,2017,0.710,32388600.0,3030.00,0.000000,Renewables,CIS,45.013231
276,Venezuela,2017,0.761,29390409.0,4215.00,22.136051,Oil,South/Central America,73.608419
277,Venezuela,2017,0.761,29390409.0,4215.00,33.372483,Nat Gas,South/Central America,73.608419
278,Venezuela,2017,0.761,29390409.0,4215.00,0.112039,Coal,South/Central America,73.608419
279,Venezuela,2017,0.761,29390409.0,4215.00,0.000000,Nuclear,South/Central America,73.608419
280,Venezuela,2017,0.761,29390409.0,4215.00,17.985581,Hydro,South/Central America,73.608419
281,Venezuela,2017,0.761,29390409.0,4215.00,0.002265,Renewables,South/Central America,73.608419
282,Vietnam,2017,0.694,94596642.0,15303.29,23.638310,Oil,Asia Pacific,75.837671
283,Vietnam,2017,0.694,94596642.0,15303.29,8.186320,Nat Gas,Asia Pacific,75.837671
284,Vietnam,2017,0.694,94596642.0,15303.29,27.899271,Coal,Asia Pacific,75.837671
285,Vietnam,2017,0.694,94596642.0,15303.29,0.000000,Nuclear,Asia Pacific,75.837671
286,Vietnam,2017,0.694,94596642.0,15303.29,16.038084,Hydro,Asia Pacific,75.837671
287,Vietnam,2017,0.694,94596642.0,15303.29,0.075687,Renewables,Asia Pacific,75.837671

In [26]:
# Downloads data from sites for power, HDI and population, merges, cleans
# and returns pandas dataframe for analysis

def merge_data():
    import numpy as np
    import pandas as pd
    import os

    #import, clean and format HI data
    hdi_file = 'data/Human Development Index (HDI).csv'
    hdi_df = pd.read_csv(hdi_file, encoding = "ISO-8859-1", skiprows=1)
    columns = ["Country"]

    for i in range(1990, 2018):
        columns = columns + [str(i)]

    hdi_df = hdi_df[columns]
    hdi_df = hdi_df.melt(id_vars='Country', var_name='Year', value_name="HDI")
    hdi_df = hdi_df.dropna()
    hdi_df['Country'] = hdi_df['Country'].str.strip()


    #import and clean the power data
    power_file = 'data/global_power_plant_database.csv'
    power_df = pd.read_csv(power_file)
    power_df['commissioning_year'] = round(power_df['commissioning_year'],0)
    power_df = power_df[power_df['commissioning_year']>=1990]

    #importing, cleaning, and formatting the population data
    pop_file = ('data/API_SP.POP.TOTL_DS2_en_csv_v2_103676.csv')
    pop_df = pd.read_csv(pop_file, encoding = "ISO-8859-1", skiprows=4)
    pop_df = pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
    pop_df = pop_df.melt(id_vars='Country Name', var_name='Year', value_name='Population')
    pop_df = pop_df.rename(columns={'Country Name':'Country'})

    #rename countries in hdi_df so consistent in all three datasets for clean merge
    hdi_df['Country'] = hdi_df['Country'].replace({"Bolivia (Plurinational State of)":"Bolivia",
                                              "Congo":"Congo (Rep)",
                                              "Congo (Democratic Republic of the)":"Congo (Dem Rep)",
                                              "Czechia":"Czech Republic",
                                              "Côte d'Ivoire":"Cote d'Ivoire",
                                              "Eswatini (Kingdom of)":"Swaziland",
                                              "Hong Kong, China (SAR)":"Hong Kong",
                                              "Iran (Islamic Republic of)":"Iran",
                                              "Korea (Rep)":"South Korea",
                                              "Lao People's Democratic Republic":"Laos",
                                              "Micronesia (Federated States of)":"Micronesia (Fed States)",
                                              "Moldova (Republic of)":"Moldova",
                                               "Russian Federation":"Russia",
                                              "Saint Lucia":"St. Lucia",
                                              "Tanzania (United Republic of)":"Tanzania",
                                              "The former Yugoslav Republic of Macedonia":"North Macedonia",
                                              "Venezuela (Bolivarian Republic of)":"Venezuela",
                                              "Viet Nam":"Vietnam"})

    #rename countries in power_df  so consistent in all three datasets for clean merge
    power_df['country_long'] = power_df['country_long'].replace({"Cape Verde":"Cabo Verde", 
                                                             "Congo":"Congo (Rep)",
                                                             "Cote DIvoire":"Cote d'Ivoire",
                                                             "Democratic Republic of the Congo":"Congo (Dem Rep)",
                                                             "Macedonia":"North Macedonia",
                                                             "United States of America":"United States"})

    #rename countries in pop_df so consistent in all three datasets for clean merge
    pop_df['Country'] = pop_df['Country'].replace({"Congo, Dem. Rep.":"Congo (Dem Rep)", 
                                               "Congo, Rep.":"Congo (Rep)",
                                              "Egypt, Arab Rep.":"Egypt",
                                              "Micronesia, Fed. Sts.":"Micronesia (Fed States)",
                                               "Gambia, The":"Gambia",
                                               "Hong Kong SAR, China":"Hong Kong",
                                               "Iran, Islamic Rep.":"Iran",
                                               "Korea, Rep.":"South Korea",
                                               "Lao PDR":"Laos",
                                               "Korea, Dem. People’s Rep.":"North Korea",
                                               "Russian Federation":"Russia",
                                               "Slovak Republic":"Slovakia",
                                               "Venezuela, RB":"Venezuela",
                                               "Yemen, Rep.":"Yemen"
                                              })

    #import, clean and format BP consumption data
    consumption_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', sheet_name='Primary Energy Consumption',skiprows=2)
    consumption_import["Region"] = ""

    consumption_import = consumption_import.rename(columns={"Million tonnes oil equivalent":"Country"})
    consumption_import.loc[consumption_import["Country"].isin
                       (["Canada","Mexico","US"]),"Region"]="North America"

    consumption_import.loc[consumption_import["Country"].isin
                       (["Argentina","Brazil","Chile","Colombia","Ecuador","Peru","Trinidad & Tobago",
                         "Venezuela","Central America","Other Caribbean","Other South America"]),
                       "Region"]="South/Central America"

    consumption_import.loc[consumption_import["Country"].isin
                       (["Austria","Belgium","Bulgaria","Croatia","Cyprus","Czech Republic","Denmark",
                         "Estonia","Finland","France","Germany","Greece","Hungary","Iceland","Ireland","Italy",
                         "Latvia","Lithuania","Luxembourg","Netherlands","North Macedonia","Norway","Poland",
                         "Portugal","Romania","Slovakia","Slovenia","Spain","Sweden","Switzerland","Turkey",
                         "Ukraine","United Kingdom","Other Europe"]),"Region"]="Europe"

    consumption_import.loc[consumption_import["Country"].isin
                       (["Azerbaijan","Belarus","Kazakhstan","Russian Federation",
                         "Turkmenistan","USSR","Uzbekistan","Other CIS"]),"Region"]="CIS"

    consumption_import.loc[consumption_import["Country"].isin
                       (["Iran","Iraq","Israel","Kuwait","Oman","Qatar","Saudi Arabia","United Arab Emirates",
                         "Other Middle East"]),"Region"]="Middle East"

    consumption_import.loc[consumption_import["Country"].isin
                       (["Algeria","Egypt","Morocco","South Africa","Eastern Africa","Middle Africa",
                         "Western Africa","Other Northern Africa","Other Southern Africa"]),"Region"]="Africa"

    consumption_import.loc[consumption_import["Country"].isin
                        (["Australia","Bangladesh","China","China Hong Kong SAR","India","Indonesia",
                          "Japan","Malaysia","New Zealand","Pakistan","Philippines","Singapore",
                          "South Korea","Sri Lanka","Taiwan","Thailand","Vietnam","Other Asia Pacific"]),
                       "Region"]="Asia Pacific"

    consumption_import = consumption_import.drop(['2018.1', '2007-17', '2018.2','Unnamed: 58','Unnamed: 59'], axis=1)
    consumption = consumption_import[consumption_import["Country"].notnull()].sort_values("Country")
    consumption = consumption[consumption.Region != ""]
    Region = consumption.Region
    consumption.drop(labels=["Region"],axis=1,inplace=True)
    consumption.insert(1,"Region",Region)
    #consumption.head()

    #import and format BP Consumption by Fuel Type data (row cleanup accomplished through merge in next cell)
    consump_by_fuel_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', 
                                            sheet_name='Primary Energy - Cons by fuel',skiprows=2)
    consump_by_fuel_import
    consump_by_fuel = consump_by_fuel_import.rename(columns={"Million tonnes oil equivalent":"Country","Oil":"2017 Oil",
                                                   "Natural Gas":"2017 Nat Gas","Coal":"2017 Coal",
                                                   "Nuclear energy":"2017 Nuclear","Hydro electric":"2017 Hydro",
                                                   "Renew- ables":"2017 Renewables",
                                                   "Oil.1":"2018 Oil","Natural Gas.1":"2018 Nat Gas","Coal.1":"2018 Coal",
                                                   "Nuclear energy.1":"2018 Nuclear","Hydro electric.1":"2018 Hydro",
                                                   "Renew- ables.1":"2018 Renewables",
                                                   "Change Oil":"% Change Oil",
                                                   "Change Natural Gas":"% Change Nat Gas",
                                                   "Change Coal":"% Change Coal",
                                                   "Change Nuclear energy":"% Change Nuclear",
                                                   "Change Hydro electric":"% Change Hydro",
                                                   "Change Renew- ables":"% Change Renewables"})
    consump_by_fuel = consump_by_fuel.drop(['Unnamed: 15','Total','Total.1'], axis=1)
    #consump_by_fuel.head()

    #merge consumption df with consump_by_fuel (left merge to finish cleanup of consump_by_fuel)
    tt = consump_by_fuel.melt(id_vars=['Country'], var_name='Year', value_name='energy')
    vals = tt['Year'].str.split(" ", n = 1, expand = True)
    tt['Year']=vals[0]
    tt['Fuel']=vals[1]
    ts=consumption.melt(id_vars=['Country','Region'], var_name='Year',value_name='total_gen')
    ts=ts.astype({'Year':'str'})
    all_consump_data=pd.merge(tt,ts,on=['Country','Year'])
    all_consump_data['energy']=11.96*all_consump_data['energy']
    all_consump_data['total_gen']=11.96*all_consump_data['total_gen']

    #filter power df and create df for cumulative capacity
    pow_pd = power_df[['country_long', 'capacity_mw', 'commissioning_year' ]]
    pow_pd.head(20)
    country_list = pow_pd['country_long'].unique()

    cap_data = pd.DataFrame(columns = ['country_long', 'commissioning_year'])

    for i in range(len(country_list)):
        for year in range(1990, 2018):
            cap_data.loc[i*37 + year-1990] = [country_list[i], year]    

    # Aggregate capacity when same country and year
    countries = pow_pd.groupby(['country_long', 'commissioning_year'])
    cap_added = countries['capacity_mw'].sum()

    # merge data agreggate capacity with counrty year df
    cap_cont_yr = pd.merge(cap_data, cap_added, on=['country_long', 'commissioning_year'], how='left')
    cap_cont_yr = cap_cont_yr.fillna(0)

    # create cumulative cap by country and year
    cap_cont_yr['commissioning_year'] = cap_cont_yr['commissioning_year'].astype(str)
    cap_cum = cap_cont_yr.groupby(by=['country_long', 'commissioning_year']).sum().groupby(level=[0]).cumsum()

    # merge hdi, pop, and capacity by Country and Year
    hdi_pop_merged = pd.merge(hdi_df, pop_df, on=['Country', 'Year'])
    merged_data = pd.merge(hdi_pop_merged, cap_cum, left_on=['Country', 'Year'], right_on=['country_long', 'commissioning_year'])

    return merged_data

In [28]:
merge_data()

(                   Country  Year    HDI    Population  capacity_mw
 0                  Algeria  1990  0.577  2.575887e+07        0.000
 1                Argentina  1990  0.704  3.261865e+07      761.020
 2                  Armenia  1990  0.631  3.538171e+06        0.000
 3                  Austria  1990  0.795  7.677850e+06       13.000
 4                  Bahrain  1990  0.746  4.959310e+05        0.000
 5               Bangladesh  1990  0.387  1.031720e+08        0.000
 6                  Belgium  1990  0.806  9.967379e+06        0.000
 7                   Brazil  1990  0.611  1.490032e+08      136.019
 8                 Bulgaria  1990  0.694  8.718289e+06        0.000
 9                 Cambodia  1990  0.364  8.975597e+06        0.000
 10                  Canada  1990  0.849  2.769114e+07        0.000
 11                   China  1990  0.502  1.135185e+09     3530.000
 12                Colombia  1990  0.592  3.310258e+07        0.000
 13         Congo (Dem Rep)  1990  0.356  3.461202e+07        0.000
 14          Czech Republic  1990  0.730  1.033336e+07        0.000
 15                 Denmark  1990  0.799  5.140939e+06        0.000
 16      Dominican Republic  1990  0.598  7.133494e+06        0.000
 17                 Ecuador  1990  0.643  1.023093e+07        0.000
 18                   Egypt  1990  0.546  5.613448e+07       60.000
 19                 Estonia  1990  0.733  1.569174e+06        0.000
 20                    Fiji  1990  0.643  7.285730e+05        0.000
 21                  France  1990  0.779  5.823570e+07        0.000
 22                 Germany  1990  0.801  7.943303e+07      295.800
 23                   Ghana  1990  0.455  1.477328e+07        0.000
 24                  Greece  1990  0.753  1.019679e+07        0.000
 25               Guatemala  1990  0.478  9.263813e+06        3.500
 26                  Guyana  1990  0.538  7.433090e+05        0.000
 27                Honduras  1990  0.506  4.955303e+06        0.000
 28                 Iceland  1990  0.802  2.548260e+05        0.000
 29                   India  1990  0.427  8.732778e+08     4981.750
 ...                    ...   ...    ...           ...          ...
 2270                  Oman  2017  0.821  4.665935e+06     3383.000
 2271              Pakistan  2017  0.562  2.078967e+08     8635.600
 2272      Papua New Guinea  2017  0.544  8.438029e+06       54.000
 2273              Paraguay  2017  0.702  6.867062e+06     1550.000
 2274                  Peru  2017  0.750  3.144430e+07     1161.000
 2275           Philippines  2017  0.699  1.051733e+08     9203.300
 2276                Poland  2017  0.865  3.797483e+07     6353.000
 2277              Portugal  2017  0.847  1.030030e+07     9056.664
 2278               Romania  2017  0.811  1.958749e+07     1220.000
 2279                Russia  2017  0.816  1.444967e+08    17523.750
 2280                Rwanda  2017  0.524  1.198094e+07       96.580
 2281          Saudi Arabia  2017  0.853  3.309915e+07    76935.120
 2282          South Africa  2017  0.699  5.700045e+07    13669.830
 2283                 Spain  2017  0.891  4.659324e+07    38977.259
 2284             Sri Lanka  2017  0.770  2.144400e+07     1403.000
 2285                Sweden  2017  0.933  1.005770e+07      924.200
 2286           Switzerland  2017  0.944  8.451840e+06     2500.420
 2287            Tajikistan  2017  0.650  8.880268e+06      700.000
 2288              Tanzania  2017  0.538  5.466391e+07      311.000
 2289              Thailand  2017  0.755  6.920986e+07    18394.000
 2290   Trinidad and Tobago  2017  0.784  1.384072e+06     1637.600
 2291               Tunisia  2017  0.735  1.143344e+07     3390.200
 2292                Turkey  2017  0.791  8.110189e+07     3987.500
 2293  United Arab Emirates  2017  0.863  9.487203e+06    26593.000
 2294         United States  2017  0.924  3.251471e+08   576991.650
 2295            Uzbekistan  2017  0.710  3.238860e+07     3030.000
 2296             Venezuela  2017  0.761  2.939041e+07     4215.000
 2297               Vietnam  2017  0.694  9.459664e+07    15303.290
 2298                 Yemen  2017  0.452  2.783482e+07      400.000
 2299                Zambia  2017  0.588  1.685369e+07      300.000

 [2300 rows x 5 columns],
                 Country  Year        energy        Fuel  \
 0                Canada  2017   1301.209164         Oil
 1                Canada  2017   1128.124686     Nat Gas
 2                Canada  2017    222.626321        Coal
 3                Canada  2017    271.731814     Nuclear
 4                Canada  2017   1073.034366       Hydro
 5                Canada  2017    113.886653  Renewables
 6                Mexico  2017   1026.404443         Oil
 7                Mexico  2017    888.450697     Nat Gas
 8                Mexico  2017    181.768131        Coal
 9                Mexico  2017     29.451742     Nuclear
 10               Mexico  2017     86.187710       Hydro
 11               Mexico  2017     51.772554  Renewables
 12                   US  2017  10787.886362         Oil
 13                   US  2017   7604.236284     Nat Gas
 14                   US  2017   3961.909544        Coal
 15                   US  2017   2293.047076     Nuclear
 16                   US  2017    803.232980       Hydro
 17                   US  2017   1130.556849  Renewables
 18            Argentina  2017    383.162311         Oil
 19            Argentina  2017    496.705367     Nat Gas
 20            Argentina  2017     12.880692        Coal
 21            Argentina  2017     16.475648     Nuclear
 22            Argentina  2017    112.425674       Hydro
 23            Argentina  2017      8.150246  Renewables
 24               Brazil  2017   1627.696147         Oil
 25               Brazil  2017    386.998331     Nat Gas
 26               Brazil  2017    198.174935        Coal
 27               Brazil  2017     42.594196     Nuclear
 28               Brazil  2017   1003.765493       Hydro
 29               Brazil  2017    255.680401  Renewables
 ..                  ...   ...           ...         ...
 810           Sri Lanka  2018     63.891983         Oil
 811           Sri Lanka  2018      0.000000     Nat Gas
 812           Sri Lanka  2018     14.122732        Coal
 813           Sri Lanka  2018      0.000000     Nuclear
 814           Sri Lanka  2018     17.237106       Hydro
 815           Sri Lanka  2018      1.689765  Renewables
 816              Taiwan  2018    598.543987         Oil
 817              Taiwan  2018    243.335484     Nat Gas
 818              Taiwan  2018    470.015418        Coal
 819              Taiwan  2018     74.915487     Nuclear
 820              Taiwan  2018     12.086382       Hydro
 821              Taiwan  2018     17.392390  Renewables
 822            Thailand  2018    786.789155         Oil
 823            Thailand  2018    513.509080     Nat Gas
 824            Thailand  2018    221.292320        Coal
 825            Thailand  2018      0.000000     Nuclear
 826            Thailand  2018     20.559414       Hydro
 827            Thailand  2018     48.172103  Renewables
 828             Vietnam  2018    297.219776         Oil
 829             Vietnam  2018     99.138939     Nat Gas
 830             Vietnam  2018    409.978149        Coal
 831             Vietnam  2018      0.000000     Nuclear
 832             Vietnam  2018    218.411278       Hydro
 833             Vietnam  2018      1.265791  Renewables
 834  Other Asia Pacific  2018    269.003979         Oil
 835  Other Asia Pacific  2018    123.573325     Nat Gas
 836  Other Asia Pacific  2018    215.781817        Coal
 837  Other Asia Pacific  2018      0.000000     Nuclear
 838  Other Asia Pacific  2018    170.255535       Hydro
 839  Other Asia Pacific  2018      3.371769  Renewables

                     Region     total_gen
 0            North America   4110.613003
 1            North America   4110.613003
 2            North America   4110.613003
 3            North America   4110.613003
 4            North America   4110.613003
 5            North America   4110.613003
 6            North America   2264.035277
 7            North America   2264.035277
 8            North America   2264.035277
 9            North America   2264.035277
 10           North America   2264.035277
 11           North America   2264.035277
 12           North America  26580.869095
 13           North America  26580.869095
 14           North America  26580.869095
 15           North America  26580.869095
 16           North America  26580.869095
 17           North America  26580.869095
 18   South/Central America   1029.799938
 19   South/Central America   1029.799938
 20   South/Central America   1029.799938
 21   South/Central America   1029.799938
 22   South/Central America   1029.799938
 23   South/Central America   1029.799938
 24   South/Central America   3514.909503
 25   South/Central America   3514.909503
 26   South/Central America   3514.909503
 27   South/Central America   3514.909503
 28   South/Central America   3514.909503
 29   South/Central America   3514.909503
 ..                     ...           ...
 810           Asia Pacific     96.941586
 811           Asia Pacific     96.941586
 812           Asia Pacific     96.941586
 813           Asia Pacific     96.941586
 814           Asia Pacific     96.941586
 815           Asia Pacific     96.941586
 816           Asia Pacific   1416.289149
 817           Asia Pacific   1416.289149
 818           Asia Pacific   1416.289149
 819           Asia Pacific   1416.289149
 820           Asia Pacific   1416.289149
 821           Asia Pacific   1416.289149
 822           Asia Pacific   1590.322071
 823           Asia Pacific   1590.322071
 824           Asia Pacific   1590.322071
 825           Asia Pacific   1590.322071
 826           Asia Pacific   1590.322071
 827           Asia Pacific   1590.322071
 828           Asia Pacific   1026.013932
 829           Asia Pacific   1026.013932
 830           Asia Pacific   1026.013932
 831           Asia Pacific   1026.013932
 832           Asia Pacific   1026.013932
 833           Asia Pacific   1026.013932
 834           Asia Pacific    781.986424
 835           Asia Pacific    781.986424
 836           Asia Pacific    781.986424
 837           Asia Pacific    781.986424
 838           Asia Pacific    781.986424
 839           Asia Pacific    781.986424

 [840 rows x 6 columns])

In [25]:
all_consump_data.head()

  Country  Year       energy     Fuel         Region    total_gen
0  Canada  2017  1301.209164      Oil  North America  4110.613003
1  Canada  2017  1128.124686  Nat Gas  North America  4110.613003
2  Canada  2017   222.626321     Coal  North America  4110.613003
3  Canada  2017   271.731814  Nuclear  North America  4110.613003
4  Canada  2017  1073.034366    Hydro  North America  4110.613003