In [2]:
import pandas as pd
import os

In [3]:
#os.chdir('C://Users//adam//Desktop//dagger')

In [13]:
pop_file = ('data/API_SP.POP.TOTL_DS2_en_csv_v2_103676.csv')
pop_df = pd.read_csv(pop_file, skiprows=4)
pop_df = pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
pop_df = pop_df.melt(id_vars='Country Name', var_name='year')
pop_df.head()

  Country Name  year      value
0        Aruba  1960    54211.0
1  Afghanistan  1960  8996973.0
2       Angola  1960  5454933.0
3      Albania  1960  1608800.0
4      Andorra  1960    13411.0