In [1]:

# Downloads data from sites for power, HDI and population, merges, cleans
# and returns pandas dataframe for analysis



import numpy as np
import pandas as pd
import os

#import, clean and format HI data
hdi_file = 'data/Human Development Index (HDI).csv'
hdi_df = pd.read_csv(hdi_file, encoding = "ISO-8859-1", skiprows=1)
columns = ["Country"]

for i in range(1990, 2018):
    columns = columns + [str(i)]

hdi_df = hdi_df[columns]
hdi_df = hdi_df.melt(id_vars='Country', var_name='Year', value_name="HDI")
hdi_df = hdi_df.dropna()
hdi_df['Country'] = hdi_df['Country'].str.strip()


#import and clean the power data
power_file = 'data/global_power_plant_database.csv'
power_df = pd.read_csv(power_file)
power_df['commissioning_year'] = round(power_df['commissioning_year'],0)
power_df = power_df[power_df['commissioning_year']>=1990]

#importing, cleaning, and formatting the population data
pop_file = ('data/API_SP.POP.TOTL_DS2_en_csv_v2_103676.csv')
pop_df = pd.read_csv(pop_file, encoding = "ISO-8859-1", skiprows=4)
pop_df = pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
pop_df = pop_df.melt(id_vars='Country Name', var_name='Year', value_name='Population')
pop_df = pop_df.rename(columns={'Country Name':'Country'})

#rename countries in hdi_df so consistent in all three datasets for clean merge
hdi_df['Country'] = hdi_df['Country'].replace({"Bolivia (Plurinational State of)":"Bolivia",
                                          "Congo":"Congo (Rep)",
                                          "Congo (Democratic Republic of the)":"Congo (Dem Rep)",
                                          "Czechia":"Czech Republic",
                                          "Côte d'Ivoire":"Cote d'Ivoire",
                                          "Eswatini (Kingdom of)":"Swaziland",
                                          "Hong Kong, China (SAR)":"Hong Kong",
                                          "Iran (Islamic Republic of)":"Iran",
                                          "Korea (Rep)":"South Korea",
                                          "Lao People's Democratic Republic":"Laos",
                                          "Micronesia (Federated States of)":"Micronesia (Fed States)",
                                          "Moldova (Republic of)":"Moldova",
                                           "Russian Federation":"Russia",
                                          "Saint Lucia":"St. Lucia",
                                          "Tanzania (United Republic of)":"Tanzania",
                                          "The former Yugoslav Republic of Macedonia":"North Macedonia",
                                          "Venezuela (Bolivarian Republic of)":"Venezuela",
                                          "Viet Nam":"Vietnam"})

#rename countries in power_df  so consistent in all three datasets for clean merge
power_df['country_long'] = power_df['country_long'].replace({"Cape Verde":"Cabo Verde", 
                                                         "Congo":"Congo (Rep)",
                                                         "Cote DIvoire":"Cote d'Ivoire",
                                                         "Democratic Republic of the Congo":"Congo (Dem Rep)",
                                                         "Macedonia":"North Macedonia",
                                                         "United States of America":"United States"})

#rename countries in pop_df so consistent in all three datasets for clean merge
pop_df['Country'] = pop_df['Country'].replace({"Congo, Dem. Rep.":"Congo (Dem Rep)", 
                                           "Congo, Rep.":"Congo (Rep)",
                                          "Egypt, Arab Rep.":"Egypt",
                                          "Micronesia, Fed. Sts.":"Micronesia (Fed States)",
                                           "Gambia, The":"Gambia",
                                           "Hong Kong SAR, China":"Hong Kong",
                                           "Iran, Islamic Rep.":"Iran",
                                           "Korea, Rep.":"South Korea",
                                           "Lao PDR":"Laos",
                                           "Korea, Dem. People’s Rep.":"North Korea",
                                           "Russian Federation":"Russia",
                                           "Slovak Republic":"Slovakia",
                                           "Venezuela, RB":"Venezuela",
                                           "Yemen, Rep.":"Yemen"
                                          })

#import, clean and format BP consumption data
consumption_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', sheet_name='Primary Energy Consumption',skiprows=2)
consumption_import["Region"] = ""

consumption_import = consumption_import.rename(columns={"Million tonnes oil equivalent":"Country"})
consumption_import.loc[consumption_import["Country"].isin
                   (["Canada","Mexico","US"]),"Region"]="North America"

consumption_import.loc[consumption_import["Country"].isin
                   (["Argentina","Brazil","Chile","Colombia","Ecuador","Peru","Trinidad & Tobago",
                     "Venezuela","Central America","Other Caribbean","Other South America"]),
                   "Region"]="South/Central America"

consumption_import.loc[consumption_import["Country"].isin
                   (["Austria","Belgium","Bulgaria","Croatia","Cyprus","Czech Republic","Denmark",
                     "Estonia","Finland","France","Germany","Greece","Hungary","Iceland","Ireland","Italy",
                     "Latvia","Lithuania","Luxembourg","Netherlands","North Macedonia","Norway","Poland",
                     "Portugal","Romania","Slovakia","Slovenia","Spain","Sweden","Switzerland","Turkey",
                     "Ukraine","United Kingdom","Other Europe"]),"Region"]="Europe"

consumption_import.loc[consumption_import["Country"].isin
                   (["Azerbaijan","Belarus","Kazakhstan","Russian Federation",
                     "Turkmenistan","USSR","Uzbekistan","Other CIS"]),"Region"]="CIS"

consumption_import.loc[consumption_import["Country"].isin
                   (["Iran","Iraq","Israel","Kuwait","Oman","Qatar","Saudi Arabia","United Arab Emirates",
                     "Other Middle East"]),"Region"]="Middle East"

consumption_import.loc[consumption_import["Country"].isin
                   (["Algeria","Egypt","Morocco","South Africa","Eastern Africa","Middle Africa",
                     "Western Africa","Other Northern Africa","Other Southern Africa"]),"Region"]="Africa"

consumption_import.loc[consumption_import["Country"].isin
                    (["Australia","Bangladesh","China","China Hong Kong SAR","India","Indonesia",
                      "Japan","Malaysia","New Zealand","Pakistan","Philippines","Singapore",
                      "South Korea","Sri Lanka","Taiwan","Thailand","Vietnam","Other Asia Pacific"]),
                   "Region"]="Asia Pacific"

consumption_import = consumption_import.drop(['2018.1', '2007-17', '2018.2','Unnamed: 58','Unnamed: 59'], axis=1)
consumption = consumption_import[consumption_import["Country"].notnull()].sort_values("Country")
consumption = consumption[consumption.Region != ""]
Region = consumption.Region
consumption.drop(labels=["Region"],axis=1,inplace=True)
consumption.insert(1,"Region",Region)
#consumption.head()

#import and format BP Consumption by Fuel Type data (row cleanup accomplished through merge in next cell)
consump_by_fuel_import = pd.read_excel (r'data\bp-stats-review-2019-all-data.xlsx.', 
                                        sheet_name='Primary Energy - Cons by fuel',skiprows=2)
consump_by_fuel_import
consump_by_fuel = consump_by_fuel_import.rename(columns={"Million tonnes oil equivalent":"Country","Oil":"2017 Oil",
                                               "Natural Gas":"2017 Nat Gas","Coal":"2017 Coal",
                                               "Nuclear energy":"2017 Nuclear","Hydro electric":"2017 Hydro",
                                               "Renew- ables":"2017 Renewables",
                                               "Oil.1":"2018 Oil","Natural Gas.1":"2018 Nat Gas","Coal.1":"2018 Coal",
                                               "Nuclear energy.1":"2018 Nuclear","Hydro electric.1":"2018 Hydro",
                                               "Renew- ables.1":"2018 Renewables",
                                               "Change Oil":"% Change Oil",
                                               "Change Natural Gas":"% Change Nat Gas",
                                               "Change Coal":"% Change Coal",
                                               "Change Nuclear energy":"% Change Nuclear",
                                               "Change Hydro electric":"% Change Hydro",
                                               "Change Renew- ables":"% Change Renewables"})
consump_by_fuel = consump_by_fuel.drop(['Unnamed: 15','Total','Total.1'], axis=1)
#consump_by_fuel.head()

#merge consumption df with consump_by_fuel (left merge to finish cleanup of consump_by_fuel)
all_consump_data = pd.merge(consumption,consump_by_fuel,how="left",on="Country")
all_consump_data.head()

#filter power df and create df for cumulative capacity
pow_pd = power_df[['country_long', 'capacity_mw', 'commissioning_year' ]]
pow_pd.head(20)
country_list = pow_pd['country_long'].unique()

cap_data = pd.DataFrame(columns = ['country_long', 'commissioning_year'])

for i in range(len(country_list)):
    for year in range(1990, 2018):
        cap_data.loc[i*37 + year-1990] = [country_list[i], year]    

# Aggregate capacity when same country and year
countries = pow_pd.groupby(['country_long', 'commissioning_year'])
cap_added = countries['capacity_mw'].sum()

# merge data agreggate capacity with counrty year df
cap_cont_yr = pd.merge(cap_data, cap_added, on=['country_long', 'commissioning_year'], how='left')
cap_cont_yr = cap_cont_yr.fillna(0)

# create cumulative cap by country and year
cap_cont_yr['commissioning_year'] = cap_cont_yr['commissioning_year'].astype(str)
cap_cum = cap_cont_yr.groupby(by=['country_long', 'commissioning_year']).sum().groupby(level=[0]).cumsum()

# merge hdi, pop, and capacity by Country and Year
hdi_pop_merged = pd.merge(hdi_df, pop_df, on=['Country', 'Year'])
merged_data = pd.merge(hdi_pop_merged, cap_cum, left_on=['Country', 'Year'], right_on=['country_long', 'commissioning_year'])

In [28]:
tt = consump_by_fuel.melt(id_vars=['Country'], var_name='Year', value_name='energy')
vals = tt['Year'].str.split(" ", n = 1, expand = True)
tt['Year']=vals[0]
tt['Fuel']=vals[1]
tt.head()

               Country  Year       energy Fuel
0                  NaN  2017          NaN  Oil
1               Canada  2017   108.796753  Oil
2               Mexico  2017    85.819769  Oil
3                   US  2017   901.997187  Oil
4  Total North America  2017  1096.613710  Oil

In [31]:
consumption.head()

,Country,Region,1965,1966,1967,1968,1969,1970,1971,1972,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
76,Algeria,Africa,2.122521,2.556875,2.416595,2.592053,2.874065,3.145228,3.406506,3.826168,...,38.590218,37.610113,39.934475,43.647978,46.170665,50.351986,53.095828,53.040220,53.128087,56.714034
6,Argentina,South/Central America,26.914442,27.809713,28.635373,29.623572,30.644712,28.937326,30.747979,31.299226,...,73.284787,77.182535,78.724688,81.019815,84.488737,84.127455,86.098900,85.917292,86.103674,85.052439
87,Australia,Asia Pacific,34.754074,38.138622,40.451888,42.901847,44.664215,48.722756,51.153529,53.497719,...,131.370957,131.909111,136.354959,134.617606,135.300720,137.455801,139.228684,142.133479,140.507273,144.326885
19,Austria,Europe,15.843913,16.567961,16.732965,17.912638,18.614470,21.257209,21.290688,22.029252,...,34.341610,35.558094,33.271409,34.962956,34.650772,33.343115,33.425071,34.563106,35.523087,34.995833
55,Azerbaijan,CIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.346068,11.196925,12.457590,12.834030,13.195966,13.458557,14.718477,14.582488,14.305965,14.396778

In [33]:
consumption.melt(id_vars=['Country','Region'], var_name='Year',value_name='energy')

                   Country                 Region  Year       energy
0                  Algeria                 Africa  1965     2.122521
1                Argentina  South/Central America  1965    26.914442
2                Australia           Asia Pacific  1965    34.754074
3                  Austria                 Europe  1965    15.843913
4               Azerbaijan                    CIS  1965          NaN
5               Bangladesh           Asia Pacific  1965          NaN
6                  Belarus                    CIS  1965          NaN
7                  Belgium                 Europe  1965    35.498943
8                   Brazil  South/Central America  1965    22.486225
9                 Bulgaria                 Europe  1965    10.256240
10                  Canada          North America  1965   115.910849
11         Central America  South/Central America  1965     4.310472
12                   Chile  South/Central America  1965     6.168698
13                   China           Asia Pacific  1965   131.470651
14     China Hong Kong SAR           Asia Pacific  1965     2.261566
15                Colombia  South/Central America  1965     7.544647
16                 Croatia                 Europe  1965          NaN
17                  Cyprus                 Europe  1965     0.402429
18          Czech Republic                 Europe  1965    40.245221
19                 Denmark                 Europe  1965    14.289983
20          Eastern Africa                 Africa  1965     9.596462
21                 Ecuador  South/Central America  1965     0.759052
22                   Egypt                 Africa  1965     7.834159
23                 Estonia                 Europe  1965          NaN
24                 Finland                 Europe  1965     9.661210
25                  France                 Europe  1965   111.318550
26                 Germany                 Europe  1965   254.862100
27                  Greece                 Europe  1965     6.789689
28                 Hungary                 Europe  1965    15.901954
29                 Iceland                 Europe  1965     0.634096
...                    ...                    ...   ...          ...
4938           Philippines           Asia Pacific  2018    47.030986
4939                Poland                 Europe  2018   105.150895
4940              Portugal                 Europe  2018    25.970313
4941                 Qatar            Middle East  2018    48.256952
4942               Romania                 Europe  2018    33.397300
4943    Russian Federation                    CIS  2018   720.749092
4944          Saudi Arabia            Middle East  2018   259.188448
4945             Singapore           Asia Pacific  2018    87.566449
4946              Slovakia                 Europe  2018    16.317508
4947              Slovenia                 Europe  2018     7.026635
4948          South Africa                 Africa  2018   121.513383
4949           South Korea           Asia Pacific  2018   301.021716
4950                 Spain                 Europe  2018   141.357727
4951             Sri Lanka           Asia Pacific  2018     8.105484
4952                Sweden                 Europe  2018    53.607083
4953           Switzerland                 Europe  2018    27.815529
4954                Taiwan           Asia Pacific  2018   118.418825
4955              Thailand           Asia Pacific  2018   132.970073
4956     Trinidad & Tobago  South/Central America  2018    15.261229
4957                Turkey                 Europe  2018   153.540288
4958          Turkmenistan                    CIS  2018    31.504506
4959                    US          North America  2018  2300.640296
4960                  USSR                    CIS  2018          NaN
4961               Ukraine                 Europe  2018    84.005363
4962  United Arab Emirates            Middle East  2018   112.203565
4963        United Kingdom                 Europe  2018   192.284783
4964            Uzbekistan                    CIS  2018    43.910428
4965             Venezuela  South/Central America  2018    64.640483
4966               Vietnam           Asia Pacific  2018    85.787118
4967        Western Africa                 Africa  2018    60.295030

[4968 rows x 4 columns]